<section class="container">
    <converter-panel 
        *ngIf="isDetails" 
        [isDetails]="isDetails" 
        [currencyFrom]="detailsData.selectedFrom"
        [currencyTo]="detailsData.selectedTo" 
        [currnecyAmount]="detailsData.amount"
        [convertedCurrency]="detailsData.convertedCurrency" 
        (selectedCurrencies)="onSelectedCurrencies($event)">
    </converter-panel>
    <div class="flex-row w-100">
        <monthly-rate-chart [selectedConvertedAmount]="detailsData" class="w-100" [CurrencyName]="'EUR'">
        </monthly-rate-chart>
    </div>
</section>