.btn {
  @include btn;
}

button:disabled,
button[disabled] {
  pointer-events: none;
  opacity: 0.7;
  &:hover {
    pointer-events: none;
    opacity: 0.7;
  }
}

.btn-icon {
  @include flex-row-center;
  i {
    font-size: 2rem;
    margin-right: 0.5rem;
  }
}

.btn-primary {
  background-color: $primary-color;
  color: $primary-btn-font-color;
  box-shadow: 0.1rem 0.2rem 0.2rem $primary-btn-shadow-color;

  &:hover {
    background-color: $primary-btn-bk-color-hover;
  }
  &:active {
    box-shadow: none;
    background-color: $primary-btn-bk-color-active;
  }
}
.btn-secondary {
  background-color: $secondary-color;
  color: $secondary-btn-font-color;
  box-shadow: 0.1rem 0.2rem 0.2rem $secondary-btn-shadow-color;

  &:hover {
    background-color: $secondary-btn-bk-color-hover;
  }
  &:active {
    box-shadow: none;
    background-color: $secondary-btn-bk-color-active;
  }
}
