$hoverAmount: 8%;
$activeAmount: 2%;
//Global color
$default-shadow-color:#ddd;
$header-shadow-color: #c3c3c39e;
$light-icon: #fff;
$light-color:#fff;
//Global backgrounds
$default-light-background: #fff;

//Buttons color
$primary-color: rgba(6, 40, 61, 0.85);
$secondary-color: rgba(244, 67, 54, 1);
//Buttons shadow
$primary-btn-shadow-color: rgba(6, 40, 61, 0.85);
$secondary-btn-shadow-color:rgba(244, 67, 54, 1);

//Button Hover Effect
$primary-btn-bk-color-hover:lighten($primary-color, $hoverAmount);
$secondary-btn-bk-color-hover: lighten($secondary-color, $hoverAmount);

//Button Active Effect
$primary-btn-bk-color-active:darken($primary-color, $activeAmount);
$secondary-btn-bk-color-active: darken($secondary-color, $activeAmount);

//Buttons fonts
$primary-btn-font-color: #ddd;
$secondary-btn-font-color: #ddd;

//Panels
$panel-header-bk-color: $secondary-color;



//Classes
.primary-color{
    color: $primary-color
}

.secondary-color{
    color: $secondary-color
}