.form-field {
  & label {
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
  }
  & input {
    padding: 1.2rem;
    border: none;
    border-radius: 0;
    outline: none;
    background-color: #f2f2f2;
  }
  & select{
    padding: 1.2rem;
    border: none;
    background-color: #f2f2f2;
    outline: none;
  }
}

