<header class="cc-header p-1 header-box-shadow cc-default-background">
    <div class="container flex-row-between">
        <div class="cc-header-logo flex-row align-center" routerLink="/">
            <img class="mr-1" src="assets/img/logo.png" width="50" height="50" alt="">
            <h1 class="primary-color">Currency Exchanger</h1>
        </div>
        <div class="cc-header-godetails flex-row">
            <button class="btn btn-primary btn-icon font-medium m-1"><i class="las la-sync"></i><span>EUR-USD</span></button>     
            <button class="btn btn-primary btn-icon font-medium m-1"><i class="las la-sync"></i><span>EUR-GBP</span></button>
        </div>
    </div>
</header>