.cc-header{
    padding-right:0;
    padding-left:0;
    position: sticky;
    top: 0;
    z-index: 2;
    &-logo{
        cursor: pointer;
        & h2{
            font-size: 1.7rem;
        }
    }
}