<section class="converter-panel panel">
    <header class="panel-header flex-row">
        <i class="las la-coins"></i>
        <h3 class="font-medium">Most Popular currencies</h3>
    </header>
    <div class="panel-content grid-currencies">
        <div class="flex-row-between">
            <div class="col w-100 m-1">
                <div class="card">
                    <div class="card-content text-center">
                        <div class="amount-header">
                            <span>USD</span>
                            <span>TO</span>
                            <span>EUR</span>
                        </div>
                        <div class="amount-content">
                            <h3>€50</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col w-100 m-1">
                <div class="card">
                    <div class="card-content text-center">
                        <div class="amount-header">
                            <span>USD</span>
                            <span>TO</span>
                            <span>EUR</span>
                        </div>
                        <div class="amount-content">
                            <h3>€50</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col w-100 m-1">
                <div class="card">
                    <div class="card-content text-center">
                        <div class="amount-header">
                            <span>USD</span>
                            <span>TO</span>
                            <span>EUR</span>
                        </div>
                        <div class="amount-content">
                            <h3>€50</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex-row-between">
            <div class="col w-100 m-1">
                <div class="card">
                    <div class="card-content text-center">
                        <div class="amount-header">
                            <span>USD</span>
                            <span>TO</span>
                            <span>EUR</span>
                        </div>
                        <div class="amount-content">
                            <h3>€50</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col w-100 m-1">
                <div class="card">
                    <div class="card-content text-center">
                        <div class="amount-header">
                            <span>USD</span>
                            <span>TO</span>
                            <span>EUR</span>
                        </div>
                        <div class="amount-content">
                            <h3>€50</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col w-100 m-1">
                <div class="card">
                    <div class="card-content text-center">
                        <div class="amount-header">
                            <span>USD</span>
                            <span>TO</span>
                            <span>EUR</span>
                        </div>
                        <div class="amount-content">
                            <h3>€50</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex-row-between">
            <div class="col w-100 m-1">
                <div class="card">
                    <div class="card-content text-center">
                        <div class="amount-header">
                            <span>USD</span>
                            <span>TO</span>
                            <span>EUR</span>
                        </div>
                        <div class="amount-content">
                            <h3>€50</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col w-100 m-1">
                <div class="card">
                    <div class="card-content text-center">
                        <div class="amount-header">
                            <span>USD</span>
                            <span>TO</span>
                            <span>EUR</span>
                        </div>
                        <div class="amount-content">
                            <h3>€50</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col w-100 m-1">
                <div class="card">
                    <div class="card-content text-center">
                        <div class="amount-header">
                            <span>USD</span>
                            <span>TO</span>
                            <span>EUR</span>
                        </div>
                        <div class="amount-content">
                            <h3>€50</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>